.forwardButtonCarousel {
  position: absolute;
  z-index: 5;
}

.backwardButtonCarousel {
  position: absolute;
  z-index: 5;
}

// ========== arrowPosition Property ========== //

.backwardButton-outside {
  top: calc(50% - 15px);
  left: -35px;
}

.backwardButton-inside {
  top: calc(50% - 15px);
  left: 10px;
}

.backwardButton-bottom {
  bottom: 25px;
  left: calc(50% - 50px);
}

.backwardButton-below {
  bottom: -25px;
  left: calc(50% - 50px);
}

.forwardButton-outside {
  top: calc(50% - 15px);
  right: -35px;
}

.forwardButton-inside {
  top: calc(50% - 15px);
  right: 10px;
}

.forwardButton-bottom {
  bottom: 25px;
  right: calc(50% - 50px);
}

.forwardButton-below {
  bottom: -25px;
  right: calc(50% - 50px);
}

// ============================================ //
// ======= Arrow Style Backward Property ====== //

.backwardButtonStyle {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  border-left: 5px solid #000000;
  border-bottom: 5px solid #000000;
  transform: rotate(45deg);
  cursor: pointer;
}

.forwardButtonStyle {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 5px solid #000000;
  border-right: 5px solid #000000;
  transform: rotate(-45deg);
  cursor: pointer;
}


// ============================================ //


