// ============================================ //

// Forward Button Styling Hooks
.forwardButtonCarousel {
  position: absolute;
  z-index: 5;
}

// Backward Button Styling Hooks
.backwardButtonCarousel {
  position: absolute;
  z-index: 5;
}

// ============================================ //


// ========== arrowPosition Property ========== //

.backwardButton-outside {
  top: calc(50% - 15px);
  left: -35px;
}

.backwardButton-inside {
  top: calc(50% - 15px);
  left: 10px;
}

.backwardButton-bottom {
  bottom: 25px;
  left: calc(50% - 50px);
}

.backwardButton-below {
  bottom: -25px;
  left: calc(50% - 50px);
}

.forwardButton-outside {
  top: calc(50% - 15px);
  right: -35px;
}

.forwardButton-inside {
  top: calc(50% - 15px);
  right: 10px;
}

.forwardButton-bottom {
  bottom: 25px;
  right: calc(50% - 50px);
}

.forwardButton-below {
  bottom: -25px;
  right: calc(50% - 50px);
}

// ============================================ //
// ====== Default Arrow Styling Property ====== //

.backwardButtonStyle, .forwardButtonStyle {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: black;
  border-radius: 20px;
  opacity: 0.6;
  cursor: pointer;
}

.backwardButtonStyle:hover, .forwardButtonStyle:hover{
  opacity: 0.85;
}

.backwardButtonStyle:after {
  content: "\2039";
  color: white;
  font-size: 1.5em;
}

.forwardButtonStyle:after {
  content: "\203a";
  color: white;
  font-size: 1.5em;
}


// ============================================ //


