// ============ GLOBAL STYLES ============ //

// ======================================= //

@import 'components/buttons';
@import 'components/dots';

.carousel {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.multipleContainerCarousel {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}

.container {
  // display: inline;
  // position: relative;
  background-color: blue;
  width: 100%;
  height: 100%;
}

// =========== GLOBAL OVERRIDE =========== //
.hideElement {
  display: none;
}
// ======================================= //
