.hideElement {
  display: none;
}

.forwardButton {
  width: 30px;
  height: 30px;
  background-color: black;
}

.backwardButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: black;
}

.backwardButtonOutside {
  top: 0;
  height: 50px;
}

.carousel {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.multipleContainer {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}

.container {
  // display: inline;
  // position: relative;
  background-color: blue;
  width: 100%;
  height: 100%;
}

.displayPos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.displayPosChild {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid black;
  margin: 0 20px;
}

.displayPosChild:hover {
  background-color: black;
}